#main {
    text-align: center;
    margin-top: 3vw;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    margin: 2vw 35vw;
    /* top/bottom margin is 2% of viewport width, left/right margin is 35% */
}

.grid-cell {
    aspect-ratio: 1/1;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}